---
http_interactions:
- request:
    method: post
    uri: https://www.googleapis.com/calendar/v3/calendars/<GOOGLE_JARVIS_CALENDAR_ID>/events
    body:
      encoding: UTF-8
      string: '{"end":{"dateTime":"2014-08-09T07:35:00-04:00"},"start":{"dateTime":"2014-08-09T06:35:00-04:00"},"location":"Babbage","summary":"algebraic
        data types party!"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer ya29.oAAWjgmv9YDW1p9C2L5WE3F0eX3O0M-lqouZ3gTnvEapuMooTuXpSenT
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"2826991007650000"'
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 443:quic,p=0.01
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "calendar#event",
         "etag": "\"2826991007650000\"",
         "id": "4pjuc3euajqh7cdv1dkuv4i2ks",
         "status": "confirmed",
         "htmlLink": "https://www.google.com/calendar/event?eid=NHBqdWMzZXVhanFoN2NkdjFka3V2NGkya3MgbW9hdjJqcWpxNThjbzU1bDBzbmxxMzdiMWtAZw",
         "created": "2014-10-16T21:38:23.000Z",
         "updated": "2014-10-16T21:38:23.825Z",
         "summary": "algebraic data types party!",
         "location": "Babbage",
         "creator": {
          "email": "<GOOGLE_JARVIS_CLIENT_EMAIL>"
         },
         "organizer": {
          "email": "<GOOGLE_JARVIS_CALENDAR_ID>",
          "displayName": "Jarvis Demo",
          "self": true
         },
         "start": {
          "dateTime": "2014-08-09T06:35:00-04:00"
         },
         "end": {
          "dateTime": "2014-08-09T07:35:00-04:00"
         },
         "iCalUID": "4pjuc3euajqh7cdv1dkuv4i2ks@google.com",
         "sequence": 0,
         "reminders": {
          "useDefault": true
         }
        }
  recorded_at: Thu, 16 Oct 2014 21:38:23 GMT
recorded_with: VCR 2.9.2
