---
http_interactions:
- request:
    method: post
    uri: https://accounts.google.com/o/oauth2/token
    body:
      encoding: US-ASCII
      string: grant_type=urn%3Aietf%3Aparams%3Aoauth%3Agrant-type%3Ajwt-bearer&assertion=eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiJ9.eyJpc3MiOiIzMzE2NjA5OTM5ODEtNXZ2aTFvdWhpMGtsbTc1ZDhnc29ydnZnMGwwcWFmdmNAZGV2ZWxvcGVyLmdzZXJ2aWNlYWNjb3VudC5jb20iLCJzY29wZSI6Imh0dHBzOi8vd3d3Lmdvb2dsZWFwaXMuY29tL2F1dGgvY2FsZW5kYXIiLCJhdWQiOiJodHRwczovL2FjY291bnRzLmdvb2dsZS5jb20vby9vYXV0aDIvdG9rZW4iLCJleHAiOjE0MTM0OTkxMDIsImlhdCI6MTQxMzQ5NTUwMn0.aPckE4zv_AeKPICWPQxRVwZ1H56hcrcjIO1EqW-yIxFkfu5QLgsI4Cp5pv-u4UGAMtS49E4VM28ZtIRITbwMFZK41yKrIO7jumyZKe8IPeiMxlnTIBeGYgwxWQmj_5lL_7t8LHuYpbhtQal4yxOBmyx7_AFJCR-eeL2UyXUB2JI
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Content-Disposition:
      - attachment; filename="json.txt"; filename*=UTF-8''json.txt
      Alternate-Protocol:
      - 443:quic,p=0.01
    body:
      encoding: UTF-8
      string: |-
        {
          "access_token" : "ya29.oAAWjgmv9YDW1p9C2L5WE3F0eX3O0M-lqouZ3gTnvEapuMooTuXpSenT",
          "token_type" : "Bearer",
          "expires_in" : 3600
        }
  recorded_at: Thu, 16 Oct 2014 21:38:22 GMT
- request:
    method: get
    uri: https://www.googleapis.com/calendar/v3/calendars/<GOOGLE_JARVIS_CALENDAR_ID>/events?access_token=ya29.oAAWjgmv9YDW1p9C2L5WE3F0eX3O0M-lqouZ3gTnvEapuMooTuXpSenT
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 443:quic,p=0.01
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "calendar#events",
         "etag": "\"1413495266975000\"",
         "summary": "Jarvis Demo",
         "description": "",
         "updated": "2014-10-16T21:34:26.975Z",
         "timeZone": "America/New_York",
         "accessRole": "owner",
         "defaultReminders": [],
         "nextSyncToken": "CJi6npqQssECEJi6npqQssECGAU=",
         "items": [
          {
           "kind": "calendar#event",
           "etag": "\"2825782942894000\"",
           "id": "kj4sormhtdnfb4dr5q64jgupik",
           "status": "confirmed",
           "htmlLink": "https://www.google.com/calendar/event?eid=a2o0c29ybWh0ZG5mYjRkcjVxNjRqZ3VwaWsgbW9hdjJqcWpxNThjbzU1bDBzbmxxMzdiMWtAZw",
           "created": "2014-10-09T21:51:11.000Z",
           "updated": "2014-10-09T21:51:11.447Z",
           "summary": "fun today at 5:30pm",
           "location": "Hopper",
           "creator": {
            "email": "<GOOGLE_JARVIS_CLIENT_EMAIL>"
           },
           "organizer": {
            "email": "<GOOGLE_JARVIS_CALENDAR_ID>",
            "displayName": "Jarvis Demo",
            "self": true
           },
           "start": {
            "dateTime": "2014-10-09T17:30:00-04:00"
           },
           "end": {
            "dateTime": "2014-10-09T18:30:00-04:00"
           },
           "iCalUID": "kj4sormhtdnfb4dr5q64jgupik@google.com",
           "sequence": 0,
           "reminders": {
            "useDefault": true
           }
          },
          {
           "kind": "calendar#event",
           "etag": "\"2825788285250000\"",
           "id": "p1bj2sgvecnuhivimpbqbo2kc4",
           "status": "confirmed",
           "htmlLink": "https://www.google.com/calendar/event?eid=cDFiajJzZ3ZlY251aGl2aW1wYnFibzJrYzQgbW9hdjJqcWpxNThjbzU1bDBzbmxxMzdiMWtAZw",
           "created": "2014-10-09T22:35:42.000Z",
           "updated": "2014-10-09T22:35:42.625Z",
           "summary": "poker",
           "location"[...]
